In [8]:
# here we are reading values to the specific variables x,y,z.
x,y,z=input("enter the values").split(',')
print("x is :",x)
print("y is :",y)
print("z is :",z)
print(type(x),type(y),type(z))
# note that x,y,z gets stored in form of string.
# To convert them in to integer see below example

enter the values45,78,96
x is : 45
y is : 78
z is : 96
<class 'str'> <class 'str'> <class 'str'>

In [10]:
# first see below examples then refer to this one to get clear understanding.
# How to take multiple values and they all should be of 'int' type
x,y,z=[int(x) for x in input("enter the values").split(',')] # to accept multiple integer values ,you need to do this.
print("x is :",x)
print("y is :",y)
print("z is :",z)
print(type(x),type(y),type(z))

enter the values45,74,82
x is : 45
y is : 74
z is : 82
<class 'int'> <class 'int'> <class 'int'>

In [12]:
x=input("enter the values").split(',')
print(x)   #values get stored in form of list and in string form.

enter the values12,22,33,54,76
['12', '22', '33', '54', '76']

In [3]:
x=input("enter date").split('/')
print(x)

enter date14/8/2019
['14', '8', '2019']

In [1]:
x=input("enter the values").split(',')
print(x)

enter the values12,13,14,15
['12', '13', '14', '15']

In [14]:
# Reading multiple values of different datatype
a,b,c=[eval(x) for x in input("enter the values").split(',')]
print(a,type(a))
print(b,type(b))
print(c,type(c))

enter the values'arpit',34,5.55
arpit <class 'str'>
34 <class 'int'>
5.55 <class 'float'>

In [15]:
L=[eval(x) for x in input("enter the values").split(',')]
print(L) # L gets stored in the form of List.

enter the values'Arpit',21,40.5
['Arpit', 21, 40.5]

In [16]:
# How to convert list in to tuple. So use T=tuple(list) . This concept has been used below.
T=tuple([eval(x) for x in input("enter the values").split(',')])
print(T) # T gets stored in form of tuple.

enter the values'hello',13,22.45
('hello', 13, 22.45)

In [18]:
S=set([eval(x) for x in input("enter the values").split(',')])
print(S)  # use S=set(list)  to convert any list in to set.

enter the values'arpit',55,3.6
{'arpit', 3.6, 55}

In [1]:
d=dict(input("enter values").split(',') for _ in range(3))
print(d)

enter values1,'a'
enter values2,'bajpai'
enter values3,'arpit'
{'1': "'a'", '2': "'bajpai'", '3': "'arpit'"}